@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.Weather {
  font-family: 'Jost', sans-serif;
  background: #FBFBFB;
  border: 1px solid white !important;
  padding: 16px;
  border-radius: 10px;
  color: rgb(135, 135, 135);
  box-shadow: 1px 5px 16px 2px rgba(136, 93, 241, 0.2);
 }

.Weather h1 {
  color: #885DF1;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather .description {
  color: #885DF1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.weather-states {
 color: rgba(136, 93, 241, 0.7);
}

.Weather ul {
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
  padding: 0;
}


.Weather li {
  letter-spacing: 0.2px;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  list-style: none;
}

.Weather .temperature {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  margin-left: 10px;
  color: #885DF1;
}

.Weather canvas {
  margin: 10px 1px;
}

.Weather .unit {
  color: rgba(136, 93, 241);
  font-size: 13.5px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -30px;
}

.Weather .unit a {
    color: rgba(136, 93, 241, 0.6);
    text-decoration: none;
}

.Weather .real-feel {
  font-size: 11px !important;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.humidity {
  font-size: 11px !important;
  font-weight: 600 !important;
  letter-spacing: 0.3px !important;
}

.wind {
  font-size: 11px !important;
    font-weight: 600 !important;
    letter-spacing: 0.3px !important;
}

.Weather input:focus {
  border-color: #885DF1;
}

.Weather input {
  background: #F7F3FF;
  border: 1px solid #885DF1;
  border-radius: 8px;
}

.Weather .btn {
  background: #885DF1;
  border-radius: 10px;
}

 .canvas {
   font-size: 20px;
 }


@media (max-width: 900px) {

  .Weather .temperature {
    font-size: 30px;
  }

  .Weather h1 {
    color: #885DF1;
    font-size: 25px;
  }

  .Weather li {
    font-size: 10px;
    letter-spacing: 1px;
  }

  .Weather .btn {
    font-size: 12px;
  }


}