@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.Weather {
  font-family: 'Jost', sans-serif;
  background: #EAE0D3;
  padding: 20px 20px 0 20px;
  border-radius: 10px;
  color: rgb(135, 135, 135);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); 
}

.Weather h1 {
  color: #D99F5A;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather .description {
  color: #8FA493;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.weather-states {
 color: rgba(132, 155, 135, 0.8);
}

.Weather ul {
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
  padding: 0;
}


.Weather li {
  letter-spacing: 0.2px;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  list-style: none;
}

.Weather .temperature {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  margin-left: 10px;
  color: #D99F5A;
}

.Weather canvas {
  margin: 10px 1px;
}

.Weather .unit {
  color: #D99F5A;
  font-size: 13.5px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -25px;
}

.Weather .unit a {
    color: rgba(217, 159, 90, 0.7);
    text-decoration: none;
}

.Weather .real-feel {
  font-size: 11px !important;
  font-weight: 600;
  letter-spacing: 0.3px;
}


form {
  margin-top: 20px;
}

.humidity {
  font-size: 11px !important;
  font-weight: 600 !important;
  letter-spacing: 0.3px !important;
}

.wind {
  font-size: 11px !important;
    font-weight: 600 !important;
    letter-spacing: 0.3px !important;
}

.Weather input:focus {
  border-color: #C7A47E;
}

.Weather input {
  background: rgba(132, 155, 135, 0.1);
  border: 1.5px solid #8FA493;
  border-radius: 40px;
}

.Weather .btn {
  background: #8FA493;
  border-radius: 40px;
  border: none;
}

 .canvas {
   font-size: 20px;
 }


@media (max-width: 900px) {

  .Weather .temperature {
    font-size: 30px;
  }

  .Weather h1 {
    font-size: 25px;
  }

  .Weather li {
    font-size: 10px;
    letter-spacing: 1px;
  }

  .Weather .btn {
    font-size: 12px;
    text-align: center;
  }


}